*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 30px 10%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    width: 100%;
    margin: 0 ;
    padding: 0 ;
    overflow: hidden;
    padding: 10px 30px;
    background-color: #140f0f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    /* float: left; */
    width: 100%;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 73px;
    text-decoration: none;
}
li a:hover {
    background-color: gray;
  }
nav ul li{
    list-style: none;
    display: inline-block;
    /* margin-left: 40px; */
}
nav ul li a{
    padding: 15;
    text-decoration: none;
}
h1{
    text-align: center;
    margin-top: 2px;
    text-decoration: solid;
}
